[submodule "firmware/libs/ShiftRegister74HC595"]
	path = firmware/libs/ShiftRegister74HC595
	url = https://github.com/Simsso/ShiftRegister74HC595
[submodule "firmware/libs/LiquidCrystal"]
	path = firmware/libs/LiquidCrystal
	url = https://github.com/arduino-libraries/LiquidCrystal
[submodule "firmware/libs/Button"]
	path = firmware/libs/Button
	url = https://github.com/madleech/Button
